<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Matchismo_t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D5829491F130D82003BA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D5829621F130D83003BA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D58296D1F130D83003BA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
